.overlay-container {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 35%;
    text-align: center;
    background: linear-gradient(45deg, $main-color, $sec-color);
    transition: all 0.8s cubic-bezier(.67,.67,.34,.95);
    .go-login & {
        right: 65%;
    }
    .go-register & {
        right: 0;
    }
}



.overlay {
    padding: 25px;
    color: $white;
    position: absolute;
    width: 100%;

    &__heading {
        font-size: 32px;
        margin-bottom: 15px;
    }

    &__desc {
        max-width: 230px;
        width: 230px;
        margin: auto;
        margin-bottom: 15px;
    }
    &--left {
        opacity: 0;
        z-index: 99;
        .go-login & {
            z-index: 99;
            opacity: 1;
        }
        .go-register & {
            opacity: 0;
            z-index: -1;
        }
    }

    &--right {
        opacity: 0;
        z-index: 99;
        .go-login & {
            opacity: 0;
            z-index: -1;
        }
        .go-register & {
            z-index: 99;
            opacity: 1;
        }
    }
}