* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    margin: auto;
    background: $white;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    width: 800px;
    max-width: 800px;
    min-height: 480px;
    overflow: hidden;
    
    &__wrapper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


