* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    margin: auto;
    background: $white;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    width: 800px;
    max-width: 800px;
    min-height: 480px;
    overflow: hidden;
    
    &__wrapper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &.go-login {
        .form-login__container {
            // transform: translateX(100%);
            // opacity: 0;
        }
        .form-register__container {
            // transform: translateX(54%);
            // opacity: 1;
            // z-index: 0;
        }
        .overlay-container {
            transform: translateX(0%);
            // width: 35%;
            // -webkit-animation: animateWidth 0.6s forwards;
            // animation: animateWidth 0.6s forwards;
        }
        .overlay--left {
            // z-index: 99;
            // opacity: 1;
        }
        .overlay--right {
            // opacity: 0;
            // z-index: -1;
        }
    }

    &.go-register {
        .form-register__container {
            transform: translateX(0%);
            opacity: 0;
        }
        .form-login__container {
            transform: translateX(0%);
            opacity: 1;
            z-index: 0;
        }
        .overlay-container {
            transform: translateX(186%);
            // width: 50%;
            // -webkit-animation: animateWidth 0.6s forwards;
            // animation: animateWidth 0.6s forwards;
        }
        .overlay--right {
            z-index: 99;
            opacity: 1;
        }
        .overlay--left {
            opacity: 0;
            z-index: -1;
        }
    }
}


